{% extends '../layout/frontend.html '%}
{% load static %}
{% block titlecesar %}Diseño{% endblock %}

{% block content %}
 <main class="container">
  <h3>Herramientas Varias</h3>
  <ul>
   <li>
    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#ventana_modal">Ventana Modal</a>
   </li>
   <li>
    <a href="javascript:void(0);" onclick="alert('hola')">Jquery alert</a>
   </li>
   <li>
    <a href="">Fancybox</a>
   </li>
   <li>
    <a href="">Ajax</a>
   </li>

  </ul>

</main>
{% endblock %}